@import '../styles/_base.less';
@import '../styles/_mixins.less';

.d-cell{
  position: relative;
  padding: 10px 15px;
  display: flex;
  background: #fff;
  align-items: center;
  font-size: @font-size-base;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;

  &::after{
    .hairline();
    border-bottom-width: 1px;
    left: 15px;
    right: 0;
  }

  &-last{
    &::after{
      border: 0;
    }
  }

  &-head-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .d-cell-title{
      display: flex;
      flex-direction: column;
    }

    .d-cell-head-title{
      font-size: 28rpx;
      color: #333;
      line-height: 48rpx;
    }

    .d-cell-head-desc{
      font-size: 24rpx;
      color: #999;
      line-height: 1.2;
    }

    .d-cell-icon{
      margin-right: 5px;
    }

    &:empty{
      display: none
    }
  }

  &-content-box{
    flex: 1;
  }

  &-foot-box{
    position: relative;
    text-align: right;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    line-height: 1;

    &:empty{
      display: none
    }
  }
}